<h1> Want some Love, honey?</h1>
<a style="margin:5% 5% 5% 5%;" href="/hello/responder"> Klick here to get love <b>from maschine</b></a><br>
<a style="margin:5% 5% 5% 5%;" href="/hello/sms"> Klick here to get love <b>via Text</b> </a><br>
<a style="margin:5% 5% 5% 5%;" href="/hello/call"> Klick here to get love <b>via Voice</b> </a>


<h1> Want to make your Outbound Calls more effecient?</h1>
<a style="margin:5% 5% 5% 5%;" href="/hello/outbound"> Klick here to start the outbound caller</a><br>
